{% schema %}
  {
    "name": "Gift Guide Banner",
    "settings": [
          {
             "type": "image_picker",
              "id": "image",
              "label": "Background Image"
          },

          {
             "type": "image_picker",
              "id": "mobile_image",
              "label": "Mobile Background Image"
          },
            
          {
             "type": "richtext",
              "id": "title",
              "label": "Title",
               "default": "<p>The Gift Guide</p>"
          }, 
            
          {
             "type": "richtext",
              "id": "subtitle",
              "label": "Subtitle",
               "default": "<p>Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>"
          }, 

          {
             "type": "text",
              "id": "button_text",
              "label": "Button Text",
               "default": "<p>SHOP NOW</p>"
          }, 

          {
             "type": "url",
              "id": "button_link",
              "label": "Button Link",
          }, 

          {
             "type": "richtext",
              "id": "choose_gift_text",
              "label": "Choose Gift Text",
               "default": "<p>CHOOSE GIFT →</p>"
          }, 

         {
             "type": "url",
              "id": "choose_gift_link",
              "label": "Choose Gift Link",
          }, 

          {
             "type": "text",
              "id": "tagline_text",
              "label": "Tagline Text",
              "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
          }, 

          {
             "type": "richtext",
              "id": "top_bar_logo_text",
              "label": "Top Bar Logo Text",
              "default": "<p>TISSO VISON</p>"
          }, 

          {
             "type": "richtext",
              "id": "top_bar_text",
              "label": "Top Bar Text",
              "default": "<p>Find the ideal gift for your loved ones.</p>"
          }, 

          ],
    "presets": [
      {
          "name": "Gift Guide Banner",
      }
    ]
  }
{% endschema %}

<div class="gift-guide-banner">

<div class="top-bar">
  <!-- Top Bar for desktop -->
  <p>{{ section.settings.top_bar_logo_text}}</p>
  <p>{{ section.settings.top_bar_text }}</p>
     <a href="{{ section.settings.choose_gift_link }}" class="choose-gift-button">
       {{ section.settings.choose_gift_text }}
     </a>
</div>

  <div class="top-bar-mobile">
    <!-- ToP Bar for mobile -->
    <button class="toggle-button" onclick ="toggleMenu()">☰</button>
    <p class="logo">{{ section.settings.top_bar_logo_text }}</p>
    <div>

   <!-- Mobile Dropdown Menu -->
    <div class="mobile-menu" id="mobileMenu">  
    <div class="close-button" onclick="toggleMenu()">x</div>  
     <p>{{ section.settings.top_bar_text}}</p> 
     <a href="{{ section.settings.choose_gift_link }}" class="choose-gift-button">
       {{ section.settings.choose_gift_text }}
     </a>
    </div>

    <!-- Banner for Desktop and Mobile -->
      <div class="banner-content"
           style="background-image: url({{ section.settings.image | img_url: 'master' }});
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;">

      <div class="text-content-mobile">
        <h2>{{ section.settings.title }}</h2>
        <p>{{ section.settings.subtitle }}</p>
      </div> 

  
  </div>