{% schema %}
  {
    "name": "Gift Guide Banner",
    "settings": [
          {
             "type": "image_picker",
              "id": "image",
              "label": "Background Image"
          },

          {
             "type": "image_picker",
              "id": "mobile_image",
              "label": "Mobile Background Image"
          },
            
          {
             "type": "richtext",
              "id": "title",
              "label": "Title",
               "default": "<p>The Gift Guide</p>"
          }, 
            
          {
             "type": "richtext",
              "id": "subtitle",
              "label": "Subtitle",
               "default": "<p>Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>"
          }, 

          {
             "type": "text",
              "id": "button_text",
              "label": "Button Text",
               "default": "<p>SHOP NOW</p>"
          }, 

          {
             "type": "url",
              "id": "button_link",
              "label": "Button Link",
          }, 

          {
             "type": "richtext",
              "id": "choose_gift_text",
              "label": "Choose Gift Text",
               "default": "<p>CHOOSE GIFT →</p>"
          }, 

         {
             "type": "url",
              "id": "choose_gift_link",
              "label": "Choose Gift Link",
          }, 

          {
             "type": "text",
              "id": "tagline_text",
              "label": "Tagline Text",
              "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
          }, 

          {
             "type": "richtext",
              "id": "top_bar_logo_text",
              "label": "Top Bar Logo Text",
              "default": "<p>TISSO VISON</p>"
          }, 

          {
             "type": "richtext",
              "id": "top_bar_text",
              "label": "Top Bar Text",
              "default": "<p>Find the ideal gift for your loved ones.</p>"
          }, 

          ],
    "presets": [
      {
          "name": "Gift Guide Banner",
      }
    ]
  }
{% endschema %}

<div class="gift-guide-banner">

<div class="top-bar">
  <!-- Top Bar for desktop -->
  <p>{{ section.settings.top_bar_logo_text}}</p>
  <p>{{ section.settings.top_bar_text }}</p>
     <a href="{{ section.settings.choose_gift_link }}" class="choose-gift-button">
       {{ section.settings.choose_gift_text }}
     </a>
</div>

  <div class="top-bar-mobile">
    <!-- ToP Bar for mobile -->
    <button class="toggle-button" onclick ="toggleMenu()">☰</button>
    <p class="logo">{{ section.settings.top_bar_logo_text }}</p>
    <div>

   <!-- Mobile Dropdown Menu -->
    <div class="mobile-menu" id="mobileMenu">  
    <div class="close-button" onclick="toggleMenu()">x</div>  
     <p>{{ section.settings.top_bar_text}}</p> 
     <a href="{{ section.settings.choose_gift_link }}" class="choose-gift-button">
       {{ section.settings.choose_gift_text }}
     </a>
    </div>

    <!-- Banner for Desktop and Mobile -->
      <div class="banner-content"
           style="background-image: url({{ section.settings.image | img_url: 'master' }});
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;">

      <div class="text-content-mobile">
        <h2>{{ section.settings.title }}</h2>
        <p>{{ section.settings.subtitle }}</p>
      </div> 
      <div class="mobile-banner-content" 
           style="background-image: url({{ section.settings.image | img_url: 'master' }});
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;"> <a href="{{ section.settings.button_link }}" class="button-mobile">
                    {{ section.settings.button_text }} <span class="arrow">⟶ </span>
                  </a> </div>
        <div class="text-content">
          <h2>{{ section.settings.title }}</h2>
          <p>{{ section.settings.subtitle }}</p>
           <a href="{{ section.settings.button_link }}" class="button-mobile">
                    {{ section.settings.button_text }} <span class="arrow">⟶ </span>
                  </a></div>

      </div>

      <div class="tagline">
        <p>{{ section.settings.tagline_text }}</p>
      </div>
    </div>

    <style>
       @media (min-width: 768){
         .top-bar-mobile{
           display: none;
         }

         .toggle-button{
           display-none;
         }

         .mobile-menu{
           display: none;
         }

         .mobile-menu.open{
           display: none;
         }

         .banner-content{
           display: flex;
           flex-direction: column;
           align-item: left;
           text-align: left;
           padding: 20px;
           flex-grow: 1;
           height: 600px;
         }

         .text-content-mobile{
           display: none;
         }

         .mobile-banner-content{
           display: none;
         }

       }

      .gift-guide-banner{
        color: black;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .top-bar{
         background-color: #F5F5F5;
         padding: 10px;
        display: inline-flex;
        text-align: center;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding 0 20px;
        height: 60px;
        }

      .button{
        display: inline-block;
        padding: 10px 30px;
        text-decoration: none;
        background-color: black;
        color: white;
        border-radius: 0px;
        transition: background-color 0.3s ease;
        font-size: 1.1em;
      }

      .button:hover,
      .choose-gift-button:hover {
        background-color: #FF7074;
      }

      .choose-gift-button {
        text-decoration : none;
        background-color : yellow;
        color : black
      }

      .tagline {
       backgound-color: #F5F5F5;
          text-align: center;
          font-size: 14px;
          width : 100%;
          padding-left: 20px;
          padding-right: 20px;
      
      }

    @keyframe shake {
      0% { tansform: translateX(0); }
      20% { tansform: translateX(-3px); }
      40% { tansform: translateX(3px); }
      60% { tansform: translateX(-3px); }
      80% { tansform: translateX(3px); }
      100% { tansform: translateX(0); }
      
    }

    .button,
    .button-mobile,
    .choose-gift-button {
      display: incline-block;
      padding: 10px 30 px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      font-size: 1.1em;
      animation: shake 1.2s ease-in-out infinite;
      animation-delay: 3s;
    }

    .button:hover,
    .button-mobile:hover,
    .choose-gift-button:hover {
        background-color: #FF7074;
      animation: none;
    }

      @media (max-width: 768){
         
       }
      
    </style>
    <script>
      function toggleMenu(){
        const mobileMenu = documnet.getElementById("mobileMenu");
        mobileMenu.classList.toggle("open");
      }
    </script>